<% if (title) { %>
    <h1>
        <%= title %>
    </h1>

    <% } %>

        <%- messages() %>
            <h2>Welcome <%= userName %>
            </h2>
            <a href="account/accountupdate/<%=locals.account_id%>">Edita tu información</a>
            <% if(type==="Admin" ) { %>
                <h3>Maneja tus servicios</h3>
                <p><a href="/service">Gestión de servicios</a></p>
                <p><a href="/appointment/managementReservations">Gestiona de reserva WEB y VACACIONES</a></p>
                <% } %>