<header id="top-header">
    <span class="site-logo">
        <a href="/" title="Return to home page"><img src="/images/logo-320x193.jpg" alt="Anita Nails logo" width="320"
                height="193" /></a>

    </span>

    <div id="tools">
        <a title="Click to log in" href="/account/login">Mi cuenta</a>
    </div>
</header>