<nav class="navigation">
    <ul class="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="">Reserva web</a></li>
        <li><a href="">About me</a></li>
        <li><a href="">Politicas</a></li>
    </ul>
    <button class="humber"></button>
</nav>

<script src="../../js/navigation.js"></script>