<nav class="navigation">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="">Reserva web</a></li>
        <li><a href="">About me</a></li>
        <li><a href="">Politicas</a></li>
    </ul>
</nav>