<h1>ANITA NAIL DESIGNER</h1>
<section class="section-hero">
    <img class="hero" src="/images/anita-hero.jpg" alt="main image about nails" width="950">
    <p class="p-big">¡Bienvenida! <br>
        Te invitamos a vivir la experiencia Anita Nails,<br> un espacio pensado para mujeres que disfrutan cuidarse,<br>
        relajarse y sentirse bien.</p>
    <p class="p-small">¡Bienvenida! <br>
        Te invitamos a vivir la experiencia <br>
        Anita Nails,
        <br> un espacio pensado
        para mujeres <br>que disfrutan cuidarse.<br>

    </p>
</section>

<%- grid %>

    <%- cards %>