<h1>ANITA NAIL DESIGNER</h1>
<section class="section-hero">
    <img class="hero" src="/images/anita-hero.jpg" alt="main image about nails" width="950">
    <p>¡Bienvenida! <br>
        Te invitamos a vivir la experiencia Anita Nails,<br> un espacio pensado para mujeres que disfrutan cuidarse,<br>
        relajarse y sentirse bien.</p>
</section>

<section class="marquee">
    <div class="marquee-track">
        <div class="item"><img src="/images/item1.webp" width="200" height="200" alt=""></div>
        <div class="item"><img src="/images/item2.webp" width="200" height="200" alt=""></div>
        <div class="item"><img src="/images/item3.webp" width="200" height="200" alt=""></div>
        <div class="item"><img src="/images/item4.webp" width="200" height="200" alt=""></div>

        <div class="item"><img src="/images/item1.webp" width="200" height="200" alt=""></div>
        <div class="item"><img src="/images/item2.webp" width="200" height="200" alt=""></div>
        <div class="item"><img src="/images/item3.webp" width="200" height="200" alt=""></div>
        <div class="item"><img src="/images/item4.webp" width="200" height="200" alt=""></div>
    </div>
</section>

<section class="section-services">
    <h2>SERVICIOS</h2>
    <article class="card">
        <h3>French Nails</h3>
        <img src="/images/item1.webp" alt="French nails" width="100" height="100">

        <p>Elegancia clásica con un toque moderno.</p>
    </article>

    <article class="card">
        <h3>Gel Nails</h3>
        <img src="/images/item2.webp" alt="Gel nails" width="100" height="100">
        <p>Brillo intenso y mayor duración para tu día a día.</p>
    </article>

    <article class="card">
        <h3>Acrylic Nails</h3>
        <img src="/images/item3.webp" alt="Acrylic nails" width="100" height="100">

        <p>Resistencia y diseño personalizado en cada detalle.</p>
    </article>

    <article class="card">
        <h3>Glitter Nails</h3>
        <img src="/images/item4.webp" alt="Glitter nails" width="100" height="100">
        <p>Un toque de luz y glamour para ocasiones especiales.</p>
    </article>

</section>