<% if (title) { %>
    <h1>
        <%= title %>
    </h1>

    <% } %>

        <section class="management-vacations schedule-not-available">
            <h2>Vacaciones</h2>
            <form class="management-vacations-form" action="/appointment/managementReservations" method="post">


                <label for="start-day">Elige el día que comienza sus vacaciones</label>
                <input type="date" id="start-day" name="startDay">

                <label for="end-day">Elige el día que finaliza sus vacaciones</label>
                <input type="date" id="end-day" name="endDay">

                <button type="submit">Ingresa tus vacaciones</button>

            </form>

            <h2>Eliminar horas específicas</h2>
            <form class="schedule-not-available-Form" action="/appointment/schedule-not-available" method="post">


                <label for="not_available">Elige el día</label>
                <input type="date" id="not_available" name="not_available">

                <label for="end-day">Eliminar las siguientes horas de la agends</label>
                <div id="radioElement">
                    <!-- Radio elements here, a lot -->
                </div>


                <button type="submit">Elimina las horas seleccionadas</button>
            </form>

        </section>

        <section class="management-appointments">
            <h2>Agenda</h2>
            <div id="management-appointments">

            </div>
        </section>

        <%- messages() %>
            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <script src="../../js/scheduleNotAvailableForm.js"></script>
                    <script src="../../js/managementReservations.js"></script>